.app.light {
  --bg-color: #f0f0f0;
  --inverted-bg-color: #030f24;
  --primary-color: #041c65;
  --inverted-primary-color: #049604;
  --secondary-color: #0449e0;
  --inverted-secondary-color: #04ff04;
}
